@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');
/* 
	Credit: Bennett Dierckman for the web site structure 
*/

* {
    margin: 0;
    padding: 0;
}

/*
*:before *:after {
    box-sizing: inherit;
}*/

html {
    /* box-sizing: border-box;*/
    height: 100%;

}


body {

    background: url(../images/schematic.jpg) no-repeat center center;
    background-color: #ffffff;	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


/* going to be for hamburger menu NOT READY YET */

.hamburger-container {

    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {

    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {

    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* fade second bar */
.change .bar2 {

    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


.navbar {
   
    position: relative;
    left: 0;
    top: 0;
    border-bottom: double 5px #000000;
    padding:0.1em 0.5em 0.5em 2.5em; 
    color: #eaecc5;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    opacity: 0.9;
}

div .nav-dropdown {
    padding: 50px;
    
}

div.nav-dropdown {
    visibility: hidden;
}

.main-menu {
    padding: 0;
    color: #000000;
    background:#ffffff;
    font-family: lato;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    transition: background 0.4s;
    opacity: 0.8;
}

.main-menu>li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 2.5px solid #000000;
    text-align: center;
    text-decoration: none;
    verticle-align: middle;
}

.main-menu>li>a {
    color: #00ff00;
    
}


